* {{
    background:     {background};
    background-alt: {background};
    foreground:     {foreground};
    selected:       {color3};
    active:         {color11};
    urgent:         {color9};
    accent:         {color10};
}}
