@import "colors-waybar.css";
/* @import "~/.config/hypr/opacity.conf"; */

* {
  /* font-family:  Helvetica, Iosevka Nerd Font; */
  /* font-family:  'GohuFont 11 Nerd Font', Iosevka Nerd Font; */
  font-family: "MesloLGS Nerd Font";
  font-size: 10px;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#waybar>box {
  border-radius: 3px;
  background-color: @background;
  margin: 3px 3px 3px 3px;
  padding: 3px;
  /* opacity: 0.95; */
  /* background-color: rgba(29, 32, 33, 0.7); */
  /* backdrop-filter: blur(10px); */
  /* box-shadow: 0px 1px 1px 1px rgba(18, 18, 18, 0.5); */
  /* box-shadow: 0px 1px 2px 2px #121212; */
  /* box-shadow: 1px 2px 6px 6px #151515; */
  transition-property: background-color;
  transition-duration: 0.5s;
}

#clock,
#cpu,
#memory,
#custom-media,
#tray,
#mode,
#window,
#workspaces,
#battery,
#idle_inhibitor,
#custom-power-menu,
#custom-wallpaper,
#custom-launcher,
#custom-spotify,
#default {
  /* color: @foreground; */
  padding: 2px;
  /* background-color: @background; */
  /* margin: 0 3px 0; */
  /* border-radius: 3px; */

  padding: 0 12px;
}

#custom-launcher {
  color: @color7;
  /* background-color: @color6; */
  font-size: 18px;
  padding: 0 0px 0 8px;
  margin-left: 8px;
}

#cpu {
  color: @color10;
}

#memory {
  color: @color11;
}

#window {
  font-weight: bold;
}

button:hover {
  background: inherit;
  border: transparent;
  border-top: 2px solid @color1;
}

#workspaces {
  /* margin: 6px 0 0; */
  /* font-size: 8; */
}

#workspaces button {
  border-radius: 0px;
  padding: 0.5px;
  color: @color2;
  box-shadow: inset 0 -3px transparent;
  /* margin-top: 0px; */
  border-top: 3px solid @color0;
  transition: all 0.2s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
  font-weight: bold;
  color: @foreground;
  /* margin: 0em; */
  margin-right: 10px;
  margin-left: 10px;
  border-top: 3px solid @color10;
  /* border-bottom: 3px solid @color10; */
  transition: all 0.2s cubic-bezier(0.55, -0.68, 0.48, 1.68);
  /* background-color: @color8; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#tray {}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-spotify {
  color: @color10;
}

#battery,
#bluetooth,
#backlight,
#pulseaudio,
#network {
  /* background-color: @background; */
  /* color: @background; */
  padding: 0 12px;
  margin: 0px 0 0;
}

#bluetooth {
  /* border-radius: 8px 0px 0px 8px; */
  /* color: @color12; */
  /* margin-left: 3px; */
  /* border-right: none; */
}

#network {
  /* color: @color5; */
  /* padding-right: 14px; */
  /* border-right: none; */
  /* border-left: none; */
}

#network.disconnected {
  color: @color1;
}

#pulseaudio {
  /* color: @color5; */
  /* border-left: none; */
  /* border-right: none; */
}

#pulseaudio.muted {
  color: @color1;
}

#backlight {
  margin-right: 5px;
  /* padding-right: 8px; */
  /* color: @color5; */
  /* border-radius: 0 8px 8px 0; */
  /* border-left: none; */
}

#battery {
  color: @color10;
  /* padding: 0 0px; */
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
  color: @color15;
}

#clock {
  color: @color12;
  font-weight: bold;
  /* padding: 0 0px 0 0px; */
}

#custom-power-menu {
  font-weight: bold;
  color: @color1;
  margin-right: 8px;
  margin-left: 8px;
  padding: 0 8px 0 8px;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

tooltip {
  border-radius: 0px;
  padding: 15px;
  background-color: @background;
  color: @foreground;
  /* font-family: CartographCF Nerd Font; */
  font-family: MesloLGS Nerd Font;
}

tooltip label {
  padding: 5px;
  color: @foreground;
}

label:focus {
  background-color: @background;
}
